
/** Custom Select **/
select{
margin-bottom:10px;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 40%;
      padding: 0 84px 0 22px;
      font-size: 22px;
      font-weight: 300;
      color: #fff;
      line-height: 60px;
      background: #5c9cd8;
      border-radius: 4px;
      cursor: pointer;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }
.rowshape {
    margin-left:1px;
    width: 100%;
    min-height: 570px;
    height:auto;
    position: relative;
    background: rgba(0,0,0,0.5);
    margin-bottom:10px;
}

.rowcontent{
    max-width:600px;
    width:100%
}

input[type="button"]{
    width:100%;
	color:#fff;
	display:block;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:cadetblue;
	margin-top:10px;
	margin-bottom:10px;
}
input[type="submit"]{
    width:100%;
	color:#fff;
	display:block;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:cadetblue;
	margin-top:10px;
	margin-bottom:10px;
}
input[type="number"]{
    width:47%;
	color:black;
	display:block;
	border:none;
	padding:15px 15px;
	border-radius:5px;
	background:white;
	margin-top:10px;
	margin-bottom:10px;
}
.serviceBox{ margin-top: 20px; }
.serviceBox .title{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}
.serviceBox .service-content{
    padding: 25px 20px 25px 50px;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
    position: relative;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-content{
    border-top-color: #4aba8d;
    border-right-color: #4aba8d;
}
.serviceBox .service-content:before{
    content: "";
    width: 0;
    height: 2px;
    background: #eee;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-content:before{
    width: 50%;
    background: #4aba8d;
}
.serviceBox .description{
    font-size: 14px;
    color: black;
    line-height: 25px;
    margin: 0;
}
.serviceBox .service-icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    font-size: 25px;
    color: #a6a6a6;
    border: 1px solid #eee;
    position: absolute;
    top: -25px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon{
    border-color: #4aba8d;
    color: #4aba8d;
}
@media only screen and (max-width:990px){
    .serviceBox{ margin-bottom: 30px; }
}
.tag{
    width:100%;
	color:#fff;
	display:block;
}
h1{
    text-align:center;
    width:100%;
	color:#fff;
	display:block;
}

.btn {
    margin:10px;
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
}

.btn-sep:before {
    background: rgba(0,0,0,0.15);
}

/* Button 1 */
.btn-1 {
    background: #3498db;
    color: #fff;
}

.btn-1:hover {
    background: #2980b9;
}

.btn-1:active {
    background: #2980b9;
    top: 2px;
}

.btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 2 */
.btn-2 {
    background: #2ecc71;
    color: #fff;
}

.btn-2:hover {
    background: #27ae60;
}

.btn-2:active {
    background: #27ae60;
    top: 2px;
}

.btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 3 */
.btn-3 {
    background: #e74c3c;
    color: #fff;
}

.btn-3:hover {
    background: #c0392b;
}

.btn-3:active {
    background: #c0392b;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 3 */
.btn-4 {
    background: #34495e;
    color: #fff;
}

.btn-4:hover {
    background: #2c3e50;
}

.btn-4:active {
    background: #2c3e50;
    top: 2px;
}

.btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}
div.table-title {
  display: block;
  margin: auto;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 150px;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:10px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:10px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:10px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
.rowresult{
    margin-left:1px;
    width: 100%;
    height: auto;
    min-height:350px;
    position: relative;
    background: white;
    margin-bottom:10px;
}