<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="describe">
        <h5 class="h2_tit2 mb15">금리가 아파트 집값에 미치는 영향 <br>[Interest rate]</h5>
        <div id="describe_index">
            <dt>한국은행이 기준 금리를 인상할 경우, 대출금리도 인상되어 이자 부담이 증가하게 됩니다. 부동산 투자를 위해 무리하게 대출을 받은 경우
            금리가 올랐을 때 증가한 이자를 부담하기 어려워집니다. 이러한 경우 결국 시세차익을 포기하고 부동산을 싼 값에 내놓게 됩니다. 또한 금리가 증가하면
            대출에 대한 수요도 감소하여 부동산에 대한 수요가 감소해 부동산의 가치가 점점 하락하게 됩니다.</dt>
        </div>
    </div>
  </div>
</div>